BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ECPIX-5 v2

LOCATE COMP "clk_100mhz" SITE "K23";
IOBUF  PORT "clk_100mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_100mhz" 100 MHZ;

# LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "ledR[0]" SITE "U21"; # LD6
LOCATE COMP "ledR[1]" SITE "T23"; # LD5
LOCATE COMP "ledR[2]" SITE "P21"; # LD8
LOCATE COMP "ledR[3]" SITE "K21"; # LD7
LOCATE COMP "ledG[0]" SITE "W21";
LOCATE COMP "ledG[1]" SITE "R21";
LOCATE COMP "ledG[2]" SITE "R23";
LOCATE COMP "ledG[3]" SITE "K24";
LOCATE COMP "ledB[0]" SITE "T24";
LOCATE COMP "ledB[1]" SITE "T22";
LOCATE COMP "ledB[2]" SITE "P22";
LOCATE COMP "ledB[3]" SITE "M21";
IOBUF  PORT "ledR[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# === PMOD0 ===
LOCATE COMP "pmod0[0]" SITE "T25";
LOCATE COMP "pmod0[1]" SITE "U25";
LOCATE COMP "pmod0[2]" SITE "U24";
LOCATE COMP "pmod0[3]" SITE "V24";
LOCATE COMP "pmod0[4]" SITE "T26";
LOCATE COMP "pmod0[5]" SITE "U26";
LOCATE COMP "pmod0[6]" SITE "V26";
LOCATE COMP "pmod0[7]" SITE "W26";

# === PMOD1 ===
LOCATE COMP "pmod1[0]" SITE "U23";
LOCATE COMP "pmod1[1]" SITE "V23";
LOCATE COMP "pmod1[2]" SITE "U22";
LOCATE COMP "pmod1[3]" SITE "V21";
LOCATE COMP "pmod1[4]" SITE "W25";
LOCATE COMP "pmod1[5]" SITE "W24";
LOCATE COMP "pmod1[6]" SITE "W23";
LOCATE COMP "pmod1[7]" SITE "W22";

# === PMOD2 ===
LOCATE COMP "pmod2[0]" SITE "J24";
LOCATE COMP "pmod2[1]" SITE "H22";
LOCATE COMP "pmod2[2]" SITE "E21";
LOCATE COMP "pmod2[3]" SITE "D18";
LOCATE COMP "pmod2[4]" SITE "K22";
LOCATE COMP "pmod2[5]" SITE "J21";
LOCATE COMP "pmod2[6]" SITE "H21";
LOCATE COMP "pmod2[7]" SITE "D22";
